*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial, Helvetica, sans-serif;
  background:#fff8f5;
  color:#4a2f2a;
}

a{
  text-decoration:none;
}

.navbar{
  background:white;
  padding:20px;
  position:sticky;
  top:0;
}

.nav-inner{
  max-width:1100px;
  margin:auto;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.logo{
  color:#d95b82;
  font-weight:bold;
  font-size:22px;
}

.menu{
  display:flex;
  gap:20px;
}

.hero{
  padding:80px 20px;
}

.hero-wrap{
  max-width:1100px;
  margin:auto;
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:40px;
  align-items:center;
}

.hero-text h1{
  font-size:60px;
  color:#c94c78;
  margin-bottom:20px;
}

.subtitle{
  font-size:20px;
  margin-bottom:25px;
}

.buttons{
  display:flex;
  gap:15px;
}

.btn{
  padding:14px 22px;
  border-radius:999px;
  font-weight:bold;
}

.primary{
  background:#d95b82;
  color:white;
}

.secondary{
  border:1px solid #d95b82;
  color:#d95b82;
}

.hero-image-card img{
  width:100%;
  border-radius:30px;
}

.container{
  max-width:1100px;
  margin:auto;
}

section{
  padding:70px 20px;
}

.section-title{
  text-align:center;
  color:#c94c78;
  margin-bottom:40px;
  font-size:40px;
}

.cards{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:20px;
}

.card{
  background:white;
  padding:25px;
  border-radius:25px;
  box-shadow:0 10px 30px rgba(0,0,0,0.08);
}

.song-image{
  width:100%;
  max-width:320px;
  height:220px;
  object-fit:cover;
  border-radius:20px;
  display:block;
  margin:auto;
  margin-bottom:15px;
}

.card audio{
  width:100%;
}

.contact{
  text-align:center;
}

.mail{
  background:#d95b82;
  color:white;
  padding:14px 24px;
  border-radius:999px;
  display:inline-block;
}

footer{
  text-align:center;
  padding:30px;
}

@media(max-width:850px){

  .hero-wrap{
    grid-template-columns:1fr;
  }

  .cards{
    grid-template-columns:1fr;
  }

  .hero-text h1{
    font-size:40px;
  }

}
